<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>

    <h1>Welcome to My Django Project</h1>
    <p>This is the home page (index.html)</p>

    {{peoples}}
    <br>
    <br>
    <br>


    <table style="width:30%" border="2px">
        <tr>
            <th>Name</th>
            <th>Dept</th>
            <th>BEST/GOOD</th>
         </tr>
         {% for people in peoples %}
       
        <tr>
            <td>{{people.name}}</td>
            <td>{{people.dept}}</td>
            <td>{% if people.dept == "CSE" %}
                BEST
                {%else%}
                GOOD
                {% endif %}
            </td>
            

        </tr>

        {% endfor %}

        <br>
        <br>

    </table>

    <br>
    <br>

    <a href="/about/">Go to About Page</a>

</body>

</html>